nifi/templates/IGDB_API_Data_Extractor.json
{"flowContents":{"identifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299","instanceIdentifier":"3f81ba05-019d-1000-fe2a-11d23438cbb3","name":"IGDB_API_Data_Extractor","comments":"","position":{"x":-258.0,"y":-101.5},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"563c5421-6337-3d38-b2d3-2e328b152e24","instanceIdentifier":"c2902ce3-0b40-39fd-3ecd-4d0823b0f406","name":"PutS3Object","comments":"","position":{"x":2704.0,"y":1840.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"datalake-raw-games_analytics-IGDB/IGDB/erro_logs/put_s3_object/failure/${filename}","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"datalake-landing","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"e97e22e3-3426-3ec0-b158-237f1ae90a69","Communications Timeout":"60 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1200,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"162d32ef-e486-3557-b2b6-7c5a913c25e2","instanceIdentifier":"6b0e2d01-a974-3206-1e13-3e04acae7f09","name":"ExtractText","comments":"","position":{"x":696.0,"y":480.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","endpoint_name":"(.*)","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Enable Repeating Capture Group":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable Named Groups":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"endpoint_name":{"name":"endpoint_name","displayName":"endpoint_name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Repeating Capture Group":{"name":"Enable Repeating Capture Group","displayName":"Enable Repeating Capture Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Named Groups":{"name":"Enable Named Groups","displayName":"Enable Named Groups","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"2c0cae9d-9ae7-3480-86da-fb93823008ba","instanceIdentifier":"06b5b421-7ae8-3101-2fdf-f752fb2633ac","name":"PutS3Object","comments":"","position":{"x":-720.0,"y":888.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"datalake-raw-games_analytics-IGDB/IGDB/erro_logs/invoke_http/no_retry/${endpoint_name}/${UUID()}","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"datalake-landing","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"e97e22e3-3426-3ec0-b158-237f1ae90a69","Communications Timeout":"60 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1200,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"03805e0b-e472-3177-8760-45d9b905dcda","instanceIdentifier":"dc108406-5f0b-32f4-3140-0da43462e693","name":"PutS3Object","comments":"","position":{"x":-712.0,"y":1440.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"datalake-raw-games_analytics-IGDB/IGDB/erro_logs/invoke_http/retry/${endpoint_name}/${UUID()}","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"datalake-landing","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"e97e22e3-3426-3ec0-b158-237f1ae90a69","Communications Timeout":"60 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1200,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"b5fb09dc-6677-3e67-bade-0016d12bf2a7","instanceIdentifier":"0798ef14-2649-3f43-a58a-a792373f909d","name":"PutS3Object","comments":"","position":{"x":2768.0,"y":1008.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"IGDB/erro_logs/replace_text/failure/${filename}","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"datalake-landing","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"e97e22e3-3426-3ec0-b158-237f1ae90a69","Communications Timeout":"60 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1200,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"ec3b234c-fd6c-3a25-8879-78e0e9c1f2d7","instanceIdentifier":"7a1eae18-efd6-3b8f-c15a-b7f2755e47e6","name":"LogMessage","comments":"","position":{"x":1368.0,"y":2080.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"e08f9a23-53e6-3a8a-96bd-4e7fa4fee18a","instanceIdentifier":"d5d04534-26cd-337b-3cfc-ef514cb4cc24","name":"ReplaceText","comments":"","position":{"x":1376.0,"y":1016.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Replacement Value":"fields *;\nlimit 500;\nsort id;\nwhere id > ${last_id:replaceNull('0'):replaceEmpty('0')};","Search Value":"(?s)(^.*$)","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Search Value":{"name":"Search Value","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"3158beb0-a92a-39b0-b298-9b25af22fed4","instanceIdentifier":"e724d86f-6963-3a83-22b5-c4afb7cc4ca7","name":"PutS3Object","comments":"","position":{"x":-736.0,"y":672.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"datalake-raw-games_analytics-IGDB/IGDB/erro_logs/invoke_http/failure/${UUID()}","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"datalake-landing","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"e97e22e3-3426-3ec0-b158-237f1ae90a69","Communications Timeout":"60 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1200,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"8b0bc69e-7f5d-3491-890f-72f05ec4ffc7","instanceIdentifier":"c091bf3f-10de-30aa-b1f4-a7b241914199","name":"ReplaceText","comments":"","position":{"x":696.0,"y":736.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Replacement Value":"fields *;\nlimit 500;\nsort id;\nwhere id > 0;","Search Value":"(?s)(^.*$)","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Search Value":{"name":"Search Value","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"78159e25-c97c-3c56-9557-675daff72164","instanceIdentifier":"79f720a6-8026-39e8-e496-e1fc4b82275d","name":"EvaluateJsonPath","comments":"","position":{"x":696.0,"y":1304.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","last_id":"$.[-1].id","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"last_id":{"name":"last_id","displayName":"last_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"539b17e9-e014-3bd9-8f63-d1ecca3feb9f","instanceIdentifier":"68241918-ce56-3c28-a046-ea4ceee5c646","name":"Log Error","comments":"","position":{"x":-56.0,"y":680.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":"An error ocurred: "},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"020ff304-882e-35e2-a92a-259c8c1043d3","instanceIdentifier":"92a8faf2-93ee-36e1-4077-e66340d27ffc","name":"LogMessage","comments":"","position":{"x":-136.0,"y":1208.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"eb9e5984-afb1-3923-bf73-b4ae5cff9d4d","instanceIdentifier":"3d6e02b3-447b-37ec-2ead-3f26abffa9e2","name":"LogMessage","comments":"","position":{"x":2032.0,"y":1840.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"e5de1144-fa4a-393a-aa43-635149834bdb","instanceIdentifier":"861e762e-bc69-34d6-d35b-c288afee7345","name":"LogMessage","comments":"","position":{"x":-40.0,"y":1440.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"5dff2767-af86-30ea-baf5-e135280f5ea4","instanceIdentifier":"5276e1bb-604e-31af-40d8-bb72c6df4b99","name":"LogMessage","comments":"","position":{"x":2072.0,"y":1000.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"2c458789-6f1b-3f7b-86bd-1bb86eb5ef31","instanceIdentifier":"96dc2850-034a-386c-1a63-3a5c2567117f","name":"CryptographicHashContent","comments":"","position":{"x":1368.0,"y":1576.0},"type":"org.apache.nifi.processors.standard.CryptographicHashContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Hash Algorithm":"SHA-256","Fail When Content Empty":"true"},"propertyDescriptors":{"Hash Algorithm":{"name":"Hash Algorithm","displayName":"Hash Algorithm","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fail When Content Empty":{"name":"Fail When Content Empty","displayName":"Fail When Content Empty","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"aa0fafde-ffb1-3c28-a9da-42b5a8356c12","instanceIdentifier":"5cf1bd54-aabe-3585-8f6a-8e6f945dd470","name":"PutS3Object","comments":"","position":{"x":120.0,"y":1768.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"datalake-raw-games_analytics-IGDB/IGDB/erro_logs/${filename}","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"datalake-landing","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"e97e22e3-3426-3ec0-b158-237f1ae90a69","Communications Timeout":"60 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1200,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"a04d36b4-6a24-326f-913f-96570aed5566","instanceIdentifier":"1f1c9f22-5947-3fc1-f5aa-bfe974613fd3","name":"InvokeHTTP","comments":"","position":{"x":696.0,"y":1016.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Request Content-Encoding":"DISABLED","Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"Proxy Configuration Service":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"#{common_endpoint}/${endpoint_name}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client-ID":{"name":"Client-ID","displayName":"Client-ID","identifiesControllerService":false,"sensitive":true,"dynamic":true},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":true,"dynamic":true},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"eba2bfb8-d8de-3367-882a-a273fdffbe7b","instanceIdentifier":"fe3b2256-87f7-3a68-da13-fb4a48949857","name":"RouteOnContent","comments":"","position":{"x":1376.0,"y":1304.0},"type":"org.apache.nifi.processors.standard.RouteOnContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Content Buffer Size":"1 MB","is_empty_array":"^\\[\\s*\\]$","Match Requirement":"content must match exactly","Character Set":"UTF-8"},"propertyDescriptors":{"Content Buffer Size":{"name":"Content Buffer Size","displayName":"Content Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"is_empty_array":{"name":"is_empty_array","displayName":"is_empty_array","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Match Requirement":{"name":"Match Requirement","displayName":"Match Requirement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["is_empty_array"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"476710f2-2347-38a9-ae5b-938f86df7a9e","instanceIdentifier":"8401421a-53c8-3d0c-d2f8-a854b03ab03f","name":"GenerateFlowFile","comments":"","position":{"x":696.0,"y":-56.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Mime Type":null,"Custom Text":"#{api_endpoints}","Character Set":"UTF-8","Data Format":"Text"},"propertyDescriptors":{"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mime Type":{"name":"Mime Type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Text":{"name":"Custom Text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"2 hours","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"c6ac792b-e465-31a6-9a8e-ad86fa5a46d4","instanceIdentifier":"473ef08f-3c25-35e2-abd4-e8a8485c0541","name":"SplitJson","comments":"","position":{"x":696.0,"y":200.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"de413be2-7254-33d8-8bac-5c01323dd3a2","instanceIdentifier":"6963efb0-e979-39fa-6202-56cf264c6f13","name":"PutS3Object","comments":"","position":{"x":1368.0,"y":1840.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"datalake-raw-games_analytics-IGDB/IGDB/${endpoint_name}/${content_SHA-256}.json","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"datalake-landing","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"e97e22e3-3426-3ec0-b158-237f1ae90a69","Communications Timeout":"60 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"cfc71504-49b7-3355-b231-ec62a1f6ae5d","instanceIdentifier":"9ce8b23a-d0f2-3602-3331-fc6311f832c7","name":"LogMessage","comments":"","position":{"x":-32.0,"y":904.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"c71c50c0-28a9-3b4a-a6b8-cd4d01759454","instanceIdentifier":"34e535a0-04a9-3dcc-ae3b-a53550d9fe43","name":"LogMessage","comments":"","position":{"x":696.0,"y":1560.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"93f6ec94-17a0-3207-9256-e74a6e8d8b9a","instanceIdentifier":"4f47c67a-2df4-3516-08f5-ba053e430bc4","name":"","source":{"id":"539b17e9-e014-3bd9-8f63-d1ecca3feb9f","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"Log Error","comments":"","instanceIdentifier":"68241918-ce56-3c28-a046-ea4ceee5c646"},"destination":{"id":"3158beb0-a92a-39b0-b298-9b25af22fed4","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"PutS3Object","comments":"","instanceIdentifier":"e724d86f-6963-3a83-22b5-c4afb7cc4ca7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"40195cca-a4a6-3219-9fdc-91480b922957","instanceIdentifier":"d7ac9633-143b-3edc-e550-fef94e0d81f9","name":"","source":{"id":"78159e25-c97c-3c56-9557-675daff72164","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"79f720a6-8026-39e8-e496-e1fc4b82275d"},"destination":{"id":"c71c50c0-28a9-3b4a-a6b8-cd4d01759454","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"LogMessage","comments":"","instanceIdentifier":"34e535a0-04a9-3dcc-ae3b-a53550d9fe43"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"7dbde220-ec9d-3289-a8c5-540b9d7f7322","instanceIdentifier":"656f0f99-5561-3633-34b4-9060e169a4df","name":"","source":{"id":"de413be2-7254-33d8-8bac-5c01323dd3a2","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"PutS3Object","comments":"","instanceIdentifier":"6963efb0-e979-39fa-6202-56cf264c6f13"},"destination":{"id":"ec3b234c-fd6c-3a25-8879-78e0e9c1f2d7","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"LogMessage","comments":"","instanceIdentifier":"7a1eae18-efd6-3b8f-c15a-b7f2755e47e6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"5f2f472d-d5f1-3a75-bbf0-25c4069b72b6","instanceIdentifier":"605d5b15-a716-3f04-2ab4-b0929e668304","name":"","source":{"id":"8b0bc69e-7f5d-3491-890f-72f05ec4ffc7","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"ReplaceText","comments":"","instanceIdentifier":"c091bf3f-10de-30aa-b1f4-a7b241914199"},"destination":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"InvokeHTTP","comments":"","instanceIdentifier":"1f1c9f22-5947-3fc1-f5aa-bfe974613fd3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"cd15472c-97b5-3a3e-92db-1466a946d363","instanceIdentifier":"588b1dfb-4dd4-3086-78a3-32270cee942e","name":"","source":{"id":"c71c50c0-28a9-3b4a-a6b8-cd4d01759454","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"LogMessage","comments":"","instanceIdentifier":"34e535a0-04a9-3dcc-ae3b-a53550d9fe43"},"destination":{"id":"aa0fafde-ffb1-3c28-a9da-42b5a8356c12","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"PutS3Object","comments":"","instanceIdentifier":"5cf1bd54-aabe-3585-8f6a-8e6f945dd470"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"c3c8ee97-17d6-3fa5-8662-3a9997f0e3ec","instanceIdentifier":"7e4b1d3e-0c32-3c04-67f0-6882a223bf89","name":"","source":{"id":"539b17e9-e014-3bd9-8f63-d1ecca3feb9f","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"Log Error","comments":"","instanceIdentifier":"68241918-ce56-3c28-a046-ea4ceee5c646"},"destination":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"InvokeHTTP","comments":"","instanceIdentifier":"1f1c9f22-5947-3fc1-f5aa-bfe974613fd3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":520.0,"y":824.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"d36250a1-e58e-3b4d-a21d-c02bf533ec9d","instanceIdentifier":"31faab34-f889-347c-f58e-557aab9fa8aa","name":"","source":{"id":"c6ac792b-e465-31a6-9a8e-ad86fa5a46d4","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"SplitJson","comments":"","instanceIdentifier":"473ef08f-3c25-35e2-abd4-e8a8485c0541"},"destination":{"id":"162d32ef-e486-3557-b2b6-7c5a913c25e2","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"ExtractText","comments":"","instanceIdentifier":"6b0e2d01-a974-3206-1e13-3e04acae7f09"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"5820faee-9463-3512-8b28-0dd815a6b338","instanceIdentifier":"660d9aa8-6e14-354a-918f-fd12283dbac7","name":"","source":{"id":"78159e25-c97c-3c56-9557-675daff72164","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"79f720a6-8026-39e8-e496-e1fc4b82275d"},"destination":{"id":"eba2bfb8-d8de-3367-882a-a273fdffbe7b","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"RouteOnContent","comments":"","instanceIdentifier":"fe3b2256-87f7-3a68-da13-fb4a48949857"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"acee3453-7007-327d-92f0-fcbcf99e90a9","instanceIdentifier":"a1282fdd-f724-3d5f-00e8-5c7a716b588a","name":"","source":{"id":"cfc71504-49b7-3355-b231-ec62a1f6ae5d","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"LogMessage","comments":"","instanceIdentifier":"9ce8b23a-d0f2-3602-3331-fc6311f832c7"},"destination":{"id":"2c0cae9d-9ae7-3480-86da-fb93823008ba","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"PutS3Object","comments":"","instanceIdentifier":"06b5b421-7ae8-3101-2fdf-f752fb2633ac"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"ec1c3bd1-740a-38de-b808-60b7cc66fc69","instanceIdentifier":"d215965c-be7a-31cc-2f6e-c7584a409160","name":"","source":{"id":"e5de1144-fa4a-393a-aa43-635149834bdb","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"LogMessage","comments":"","instanceIdentifier":"861e762e-bc69-34d6-d35b-c288afee7345"},"destination":{"id":"03805e0b-e472-3177-8760-45d9b905dcda","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"PutS3Object","comments":"","instanceIdentifier":"dc108406-5f0b-32f4-3140-0da43462e693"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"1af2a9db-274b-32ad-b52d-23d6eeea5f92","instanceIdentifier":"c3ce3f22-58f0-3611-b7a1-50eece99834c","name":"","source":{"id":"eb9e5984-afb1-3923-bf73-b4ae5cff9d4d","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"LogMessage","comments":"","instanceIdentifier":"3d6e02b3-447b-37ec-2ead-3f26abffa9e2"},"destination":{"id":"563c5421-6337-3d38-b2d3-2e328b152e24","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"PutS3Object","comments":"","instanceIdentifier":"c2902ce3-0b40-39fd-3ecd-4d0823b0f406"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"a1ea7a61-e632-3cb2-b324-e97e49eb064a","instanceIdentifier":"2984adf6-663b-3c3b-0a13-4d3b85520de5","name":"","source":{"id":"2c458789-6f1b-3f7b-86bd-1bb86eb5ef31","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"CryptographicHashContent","comments":"","instanceIdentifier":"96dc2850-034a-386c-1a63-3a5c2567117f"},"destination":{"id":"de413be2-7254-33d8-8bac-5c01323dd3a2","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"PutS3Object","comments":"","instanceIdentifier":"6963efb0-e979-39fa-6202-56cf264c6f13"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"3de9e98a-babf-3323-afd4-9e681bea4988","instanceIdentifier":"cf63de7c-3fd7-3b1e-a69b-69f18bbfca69","name":"","source":{"id":"de413be2-7254-33d8-8bac-5c01323dd3a2","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"PutS3Object","comments":"","instanceIdentifier":"6963efb0-e979-39fa-6202-56cf264c6f13"},"destination":{"id":"eb9e5984-afb1-3923-bf73-b4ae5cff9d4d","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"LogMessage","comments":"","instanceIdentifier":"3d6e02b3-447b-37ec-2ead-3f26abffa9e2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"bd42f9c2-455e-39b0-921a-fcdbf8d89870","instanceIdentifier":"35f2f263-46ac-32e5-d1b7-aace1a9e1136","name":"","source":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"InvokeHTTP","comments":"","instanceIdentifier":"1f1c9f22-5947-3fc1-f5aa-bfe974613fd3"},"destination":{"id":"539b17e9-e014-3bd9-8f63-d1ecca3feb9f","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"Log Error","comments":"","instanceIdentifier":"68241918-ce56-3c28-a046-ea4ceee5c646"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"b1dadc44-67d5-3ce0-aa25-276488fefdf6","instanceIdentifier":"89325168-67c1-3c03-c013-387216286fd5","name":"","source":{"id":"5dff2767-af86-30ea-baf5-e135280f5ea4","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"LogMessage","comments":"","instanceIdentifier":"5276e1bb-604e-31af-40d8-bb72c6df4b99"},"destination":{"id":"b5fb09dc-6677-3e67-bade-0016d12bf2a7","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"PutS3Object","comments":"","instanceIdentifier":"0798ef14-2649-3f43-a58a-a792373f909d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"4557ff80-38b6-38c5-b460-2bc09712aef4","instanceIdentifier":"88fa13d6-d6c2-326e-111f-35a3a36156d1","name":"","source":{"id":"162d32ef-e486-3557-b2b6-7c5a913c25e2","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"ExtractText","comments":"","instanceIdentifier":"6b0e2d01-a974-3206-1e13-3e04acae7f09"},"destination":{"id":"8b0bc69e-7f5d-3491-890f-72f05ec4ffc7","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"ReplaceText","comments":"","instanceIdentifier":"c091bf3f-10de-30aa-b1f4-a7b241914199"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"f15c09cd-fee9-3bdb-bae2-66ef68174990","instanceIdentifier":"006bd8c2-cfb0-3e4c-677a-9d59507bc44b","name":"","source":{"id":"e08f9a23-53e6-3a8a-96bd-4e7fa4fee18a","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"ReplaceText","comments":"","instanceIdentifier":"d5d04534-26cd-337b-3cfc-ef514cb4cc24"},"destination":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"InvokeHTTP","comments":"","instanceIdentifier":"1f1c9f22-5947-3fc1-f5aa-bfe974613fd3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"5a7bd069-554e-35b6-a2c4-582068296b38","instanceIdentifier":"b9bfeb5e-54ea-3954-427e-659fc0e6ce30","name":"","source":{"id":"eba2bfb8-d8de-3367-882a-a273fdffbe7b","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"RouteOnContent","comments":"","instanceIdentifier":"fe3b2256-87f7-3a68-da13-fb4a48949857"},"destination":{"id":"2c458789-6f1b-3f7b-86bd-1bb86eb5ef31","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"CryptographicHashContent","comments":"","instanceIdentifier":"96dc2850-034a-386c-1a63-3a5c2567117f"},"labelIndex":0,"zIndex":2,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"d286952f-19b9-3b7e-aab3-7b05736bd900","instanceIdentifier":"f66ffd9c-123c-3421-cbf8-53ffac9cca70","name":"","source":{"id":"e08f9a23-53e6-3a8a-96bd-4e7fa4fee18a","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"ReplaceText","comments":"","instanceIdentifier":"d5d04534-26cd-337b-3cfc-ef514cb4cc24"},"destination":{"id":"5dff2767-af86-30ea-baf5-e135280f5ea4","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"LogMessage","comments":"","instanceIdentifier":"5276e1bb-604e-31af-40d8-bb72c6df4b99"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"b428bcc7-9e94-3582-a54f-196bdc9762ed","instanceIdentifier":"d421717f-75e3-3100-e91e-a928b761295e","name":"","source":{"id":"cfc71504-49b7-3355-b231-ec62a1f6ae5d","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"LogMessage","comments":"","instanceIdentifier":"9ce8b23a-d0f2-3602-3331-fc6311f832c7"},"destination":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"InvokeHTTP","comments":"","instanceIdentifier":"1f1c9f22-5947-3fc1-f5aa-bfe974613fd3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":512.0,"y":1088.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"6ecb2b09-f4b8-3d1e-a61b-aff23300ab04","instanceIdentifier":"92e7e81a-1bd6-3e0f-15ed-dc23537e21bf","name":"","source":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"InvokeHTTP","comments":"","instanceIdentifier":"1f1c9f22-5947-3fc1-f5aa-bfe974613fd3"},"destination":{"id":"cfc71504-49b7-3355-b231-ec62a1f6ae5d","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"LogMessage","comments":"","instanceIdentifier":"9ce8b23a-d0f2-3602-3331-fc6311f832c7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"b13b98df-10ff-3573-ae5a-5a4657f6c450","instanceIdentifier":"ae88825a-be88-308f-0163-6bfb5c35d2d1","name":"","source":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"InvokeHTTP","comments":"","instanceIdentifier":"1f1c9f22-5947-3fc1-f5aa-bfe974613fd3"},"destination":{"id":"78159e25-c97c-3c56-9557-675daff72164","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"79f720a6-8026-39e8-e496-e1fc4b82275d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"ab0e32f1-2a89-39e8-80ec-078123b6f5fc","instanceIdentifier":"17b36dad-be06-3b93-6652-34464f12160c","name":"","source":{"id":"e5de1144-fa4a-393a-aa43-635149834bdb","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"LogMessage","comments":"","instanceIdentifier":"861e762e-bc69-34d6-d35b-c288afee7345"},"destination":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"InvokeHTTP","comments":"","instanceIdentifier":"1f1c9f22-5947-3fc1-f5aa-bfe974613fd3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":512.0,"y":1376.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"47c63e29-8507-3f80-8a70-edb6d42590e0","instanceIdentifier":"de5b317e-179c-319e-d949-e79ee8a8e323","name":"","source":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"InvokeHTTP","comments":"","instanceIdentifier":"1f1c9f22-5947-3fc1-f5aa-bfe974613fd3"},"destination":{"id":"020ff304-882e-35e2-a92a-259c8c1043d3","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"LogMessage","comments":"","instanceIdentifier":"92a8faf2-93ee-36e1-4077-e66340d27ffc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"68f9f669-52c1-3ffb-be96-ee1278305a1f","instanceIdentifier":"4ca0fc02-8a53-323d-5fa5-4d52931709a1","name":"","source":{"id":"eba2bfb8-d8de-3367-882a-a273fdffbe7b","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"RouteOnContent","comments":"","instanceIdentifier":"fe3b2256-87f7-3a68-da13-fb4a48949857"},"destination":{"id":"e08f9a23-53e6-3a8a-96bd-4e7fa4fee18a","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"ReplaceText","comments":"","instanceIdentifier":"d5d04534-26cd-337b-3cfc-ef514cb4cc24"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"d97675db-f316-3cfd-bce8-8a9e6514711f","instanceIdentifier":"96980642-654c-3ec3-50ae-7e7142edd4e8","name":"","source":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"InvokeHTTP","comments":"","instanceIdentifier":"1f1c9f22-5947-3fc1-f5aa-bfe974613fd3"},"destination":{"id":"e5de1144-fa4a-393a-aa43-635149834bdb","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"LogMessage","comments":"","instanceIdentifier":"861e762e-bc69-34d6-d35b-c288afee7345"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"},{"identifier":"08dded04-becc-3634-87fa-d756a1f54f45","instanceIdentifier":"e9b6e7c1-ea04-377b-5d2c-90c6d22294b3","name":"","source":{"id":"476710f2-2347-38a9-ae5b-938f86df7a9e","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"GenerateFlowFile","comments":"","instanceIdentifier":"8401421a-53c8-3d0c-d2f8-a854b03ab03f"},"destination":{"id":"c6ac792b-e465-31a6-9a8e-ad86fa5a46d4","type":"PROCESSOR","groupId":"7eb117b5-bd41-3312-9afd-41cff7e1c299","name":"SplitJson","comments":"","instanceIdentifier":"473ef08f-3c25-35e2-abd4-e8a8485c0541"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"e97e22e3-3426-3ec0-b158-237f1ae90a69","instanceIdentifier":"8e36ba22-a295-3ea0-efd2-f539957b18fe","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"Assume Role STS Region":"us-west-2","Assume Role Proxy Configuration Service":null,"OAuth2 Access Token Provider":null,"Assume Role ARN":null,"Assume Role Session Time":"3600","Assume Role Session Name":null,"Use Default Credentials":"false","Assume Role External ID":null,"Assume Role STS Endpoint Override":null,"Profile Name":null,"Credentials File":"/opt/nifi/nifi-current/minio_sites/s3.properties","Use Anonymous Credentials":"false","Assume Role SSL Context Service":null},"propertyDescriptors":{"Assume Role STS Region":{"name":"Assume Role STS Region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Proxy Configuration Service":{"name":"Assume Role Proxy Configuration Service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Access Key ID":{"name":"Access Key ID","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"OAuth2 Access Token Provider":{"name":"OAuth2 Access Token Provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Session Time":{"name":"Assume Role Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Default Credentials":{"name":"Use Default Credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role External ID":{"name":"Assume Role External ID","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role STS Endpoint Override":{"name":"Assume Role STS Endpoint Override","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Profile Name":{"name":"Profile Name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Use Anonymous Credentials":{"name":"Use Anonymous Credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Access Key":{"name":"Secret Access Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Assume Role SSL Context Service":{"name":"Assume Role SSL Context Service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.8.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7eb117b5-bd41-3312-9afd-41cff7e1c299"}],"parameterContextName":"IGDB Parameter","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"IGDB Parameter":{"name":"IGDB Parameter","parameters":[{"name":"api_endpoints","description":"","sensitive":false,"provided":false,"value":"[\n    \"age_ratings\",\n    \"age_rating_categories\",\n    \"age_rating_content_descriptions_v2\",\n    \"age_rating_content_description_types\",\n    \"age_rating_organizations\",\n    \"artworks\",\n    \"alternative_names\",\n    \"artwork_types\",\n    \"characters\",\n    \"character_genders\",\n    \"character_mug_shots\",\n    \"character_species\",\n    \"collections\",\n    \"collection_memberships\",\n    \"collection_membership_types\",\n    \"collection_relations\",\n    \"collection_relation_types\",\n    \"collection_types\",\n    \"companies\",\n    \"company_logos\",\n    \"company_statuses\",\n    \"company_websites\",\n    \"covers\",\n    \"date_formats\",\n    \"events\",\n    \"event_logos\",\n    \"event_networks\",\n    \"external_games\",\n    \"external_game_sources\",\n    \"franchises\",\n    \"games\",\n    \"game_engines\",\n    \"game_engine_logos\",\n    \"game_localizations\",\n    \"game_modes\",\n    \"game_release_formats\",\n    \"game_statuses\",\n    \"game_time_to_beats\",\n    \"game_types\",\n    \"game_versions\",\n    \"game_version_features\",\n    \"game_version_feature_values\",\n    \"game_videos\",\n    \"genres\",\n    \"involved_companies\",\n    \"keywords\",\n    \"languages\",\n    \"language_supports\",\n    \"language_support_types\",\n    \"multiplayer_modes\",\n    \"network_types\",\n    \"platforms\",\n    \"platform_families\",\n    \"platform_logos\",\n    \"platform_types\",\n    \"platform_versions\",\n    \"platform_version_companies\",\n    \"platform_version_release_dates\",\n    \"platform_websites\",\n    \"player_perspectives\",\n    \"popularity_primitives\",\n    \"popularity_types\",\n    \"regions\",\n    \"release_dates\",\n    \"release_date_regions\",\n    \"release_date_statuses\",\n    \"screenshots\",\n    \"search\",\n    \"themes\",\n    \"websites\",\n    \"website_types\"\n]"},{"name":"last_id","description":"","sensitive":false,"provided":false,"value":"0"},{"name":"common_endpoint","description":"","sensitive":false,"provided":false,"value":"https://api.igdb.com/v4"}],"inheritedParameterContexts":[],"description":"","componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}