nifi/templates/IGDB_API_Data_Extractor.json
{"flowContents":{"identifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445","instanceIdentifier":"380bc406-019d-1000-996e-411385ab2c7c","name":"IGDB_API_Data_Extractor","comments":"","position":{"x":-168.0,"y":-112.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"563c5421-6337-3d38-b2d3-2e328b152e24","instanceIdentifier":"96959ac3-042d-34db-02e9-791ec5a3e277","name":"PutS3Object","comments":"","position":{"x":2704.0,"y":1840.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"datalake-raw-games_analytics-IGDB/IGDB/erro_logs/put_s3_object/failure/${filename}","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"datalake-landing","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"e97e22e3-3426-3ec0-b158-237f1ae90a69","Communications Timeout":"60 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1200,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"162d32ef-e486-3557-b2b6-7c5a913c25e2","instanceIdentifier":"e8ab0d74-a75f-3f8c-30d7-6a0b5be8c6b3","name":"ExtractText","comments":"","position":{"x":696.0,"y":480.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","endpoint_name":"(.*)","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Enable Repeating Capture Group":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable Named Groups":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"endpoint_name":{"name":"endpoint_name","displayName":"endpoint_name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Repeating Capture Group":{"name":"Enable Repeating Capture Group","displayName":"Enable Repeating Capture Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Named Groups":{"name":"Enable Named Groups","displayName":"Enable Named Groups","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"03805e0b-e472-3177-8760-45d9b905dcda","instanceIdentifier":"6ba9dbd1-ec9e-3e86-b11d-770a7b20db72","name":"PutS3Object","comments":"","position":{"x":-712.0,"y":1440.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"datalake-raw-games_analytics-IGDB/IGDB/erro_logs/invoke_http/retry/${endpoint_name}/${UUID()}","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"datalake-landing","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"e97e22e3-3426-3ec0-b158-237f1ae90a69","Communications Timeout":"60 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1200,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"2c0cae9d-9ae7-3480-86da-fb93823008ba","instanceIdentifier":"e0d3109a-062f-340b-562b-31eb4f1d552c","name":"PutS3Object","comments":"","position":{"x":-720.0,"y":888.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"datalake-raw-games_analytics-IGDB/IGDB/erro_logs/invoke_http/no_retry/${endpoint_name}/${UUID()}","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"datalake-landing","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"e97e22e3-3426-3ec0-b158-237f1ae90a69","Communications Timeout":"60 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1200,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"b5fb09dc-6677-3e67-bade-0016d12bf2a7","instanceIdentifier":"db751728-4eba-3874-e75d-f89b9a5909f2","name":"PutS3Object","comments":"","position":{"x":2768.0,"y":1008.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"IGDB/erro_logs/replace_text/failure/${filename}","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"datalake-landing","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"e97e22e3-3426-3ec0-b158-237f1ae90a69","Communications Timeout":"60 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1200,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"e08f9a23-53e6-3a8a-96bd-4e7fa4fee18a","instanceIdentifier":"816b6510-8998-33b1-6614-79025a17c41c","name":"ReplaceText","comments":"","position":{"x":1376.0,"y":1016.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Replacement Value":"fields *;\nlimit 500;\nsort id;\nwhere id > ${last_id:replaceNull('0'):replaceEmpty('0')};","Search Value":"(?s)(^.*$)","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Search Value":{"name":"Search Value","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"ec3b234c-fd6c-3a25-8879-78e0e9c1f2d7","instanceIdentifier":"edc9d8ba-0823-3de2-1bbd-547d67d239e7","name":"LogMessage","comments":"","position":{"x":1368.0,"y":2080.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"3158beb0-a92a-39b0-b298-9b25af22fed4","instanceIdentifier":"aaef4393-2c65-335f-d95d-bc915a36e535","name":"PutS3Object","comments":"","position":{"x":-736.0,"y":672.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"datalake-raw-games_analytics-IGDB/IGDB/erro_logs/invoke_http/failure/${UUID()}","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"datalake-landing","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"e97e22e3-3426-3ec0-b158-237f1ae90a69","Communications Timeout":"60 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1200,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"8b0bc69e-7f5d-3491-890f-72f05ec4ffc7","instanceIdentifier":"43b608b7-4b4d-3847-2be8-46007066a45e","name":"ReplaceText","comments":"","position":{"x":696.0,"y":736.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Replacement Value":"fields *;\nlimit 500;\nsort id;\nwhere id > 0;","Search Value":"(?s)(^.*$)","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Search Value":{"name":"Search Value","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"78159e25-c97c-3c56-9557-675daff72164","instanceIdentifier":"fe2f79ed-30d2-3859-0432-ce24b1202d6e","name":"EvaluateJsonPath","comments":"","position":{"x":696.0,"y":1304.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","last_id":"$.[-1].id","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"last_id":{"name":"last_id","displayName":"last_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"020ff304-882e-35e2-a92a-259c8c1043d3","instanceIdentifier":"508e729c-8c6e-3d39-c725-9db8e90bc30b","name":"LogMessage","comments":"","position":{"x":-136.0,"y":1208.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"eb9e5984-afb1-3923-bf73-b4ae5cff9d4d","instanceIdentifier":"38a639e1-bebc-3931-77d9-e6777fbd1b8a","name":"LogMessage","comments":"","position":{"x":2032.0,"y":1840.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"539b17e9-e014-3bd9-8f63-d1ecca3feb9f","instanceIdentifier":"1153f33c-917b-3302-9b78-76518cde3573","name":"Log Error","comments":"","position":{"x":-56.0,"y":680.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":"An error ocurred: "},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"e5de1144-fa4a-393a-aa43-635149834bdb","instanceIdentifier":"1dad9aa2-bbe0-30cf-b2a9-5a65a7471d6b","name":"LogMessage","comments":"","position":{"x":-40.0,"y":1440.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"5dff2767-af86-30ea-baf5-e135280f5ea4","instanceIdentifier":"e700ebe1-f558-395c-0a78-907e1d56f3d2","name":"LogMessage","comments":"","position":{"x":2072.0,"y":1000.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"2c458789-6f1b-3f7b-86bd-1bb86eb5ef31","instanceIdentifier":"931fd08f-a885-36dc-4b2e-52a7708708b7","name":"CryptographicHashContent","comments":"","position":{"x":1368.0,"y":1576.0},"type":"org.apache.nifi.processors.standard.CryptographicHashContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Hash Algorithm":"SHA-256","Fail When Content Empty":"true"},"propertyDescriptors":{"Hash Algorithm":{"name":"Hash Algorithm","displayName":"Hash Algorithm","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fail When Content Empty":{"name":"Fail When Content Empty","displayName":"Fail When Content Empty","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"a04d36b4-6a24-326f-913f-96570aed5566","instanceIdentifier":"fa3858e9-4cfe-3047-bc93-d22052cdc974","name":"InvokeHTTP","comments":"","position":{"x":696.0,"y":1016.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Request Content-Encoding":"DISABLED","Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"Proxy Configuration Service":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"#{common_endpoint}/${endpoint_name}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"aa0fafde-ffb1-3c28-a9da-42b5a8356c12","instanceIdentifier":"81a02dd7-1d03-327c-15c9-ae1b28bf9880","name":"PutS3Object","comments":"","position":{"x":120.0,"y":1768.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"datalake-raw-games_analytics-IGDB/IGDB/erro_logs/${filename}","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"datalake-landing","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"e97e22e3-3426-3ec0-b158-237f1ae90a69","Communications Timeout":"60 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1200,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"476710f2-2347-38a9-ae5b-938f86df7a9e","instanceIdentifier":"b9761ae8-2f73-3d14-ba55-f8ca3456ac73","name":"GenerateFlowFile","comments":"","position":{"x":696.0,"y":-56.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Mime Type":null,"Custom Text":"#{api_endpoints}","Character Set":"UTF-8","Data Format":"Text"},"propertyDescriptors":{"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mime Type":{"name":"Mime Type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Text":{"name":"Custom Text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"2 hours","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"eba2bfb8-d8de-3367-882a-a273fdffbe7b","instanceIdentifier":"8d0d779e-5677-360a-f285-2cb915dc06c6","name":"RouteOnContent","comments":"","position":{"x":1376.0,"y":1304.0},"type":"org.apache.nifi.processors.standard.RouteOnContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Content Buffer Size":"1 MB","is_empty_array":"^\\[\\s*\\]$","Match Requirement":"content must match exactly","Character Set":"UTF-8"},"propertyDescriptors":{"Content Buffer Size":{"name":"Content Buffer Size","displayName":"Content Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"is_empty_array":{"name":"is_empty_array","displayName":"is_empty_array","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Match Requirement":{"name":"Match Requirement","displayName":"Match Requirement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["is_empty_array"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"c6ac792b-e465-31a6-9a8e-ad86fa5a46d4","instanceIdentifier":"8112706a-6940-3727-92e2-7a0f69dc063a","name":"SplitJson","comments":"","position":{"x":696.0,"y":200.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.[*]"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"de413be2-7254-33d8-8bac-5c01323dd3a2","instanceIdentifier":"366d1a36-2ba5-3946-dc5f-b76db09d44f0","name":"PutS3Object","comments":"","position":{"x":1368.0,"y":1840.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"Endpoint Override URL":"http://minio:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","Proxy Configuration Service":null,"Object Tags Prefix":null,"Content Type":null,"Canned ACL":"${s3.permissions.cannedacl}","Use Path Style Access":"false","Encryption Service":null,"Write ACL User List":"${s3.permissions.writeacl.users}","Use Chunked Encoding":"true","Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"STANDARD","Multipart Part Size":"5 GB","Remove Tag Prefix":"false","Object Key":"datalake-raw-games_analytics-IGDB/IGDB/${endpoint_name}/${content_SHA-256}.avro","Multipart Threshold":"5 GB","Temporary Directory Multipart State":"${java.io.tmpdir}","SSL Context Service":null,"Bucket":"datalake-landing","Multipart Upload AgeOff Interval":"60 min","AWS Credentials Provider Service":"e97e22e3-3426-3ec0-b158-237f1ae90a69","Communications Timeout":"60 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Custom Region":null},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Object Tags Prefix":{"name":"Object Tags Prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Canned ACL":{"name":"Canned ACL","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Path Style Access":{"name":"Use Path Style Access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Encryption Service":{"name":"Encryption Service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remove Tag Prefix":{"name":"Remove Tag Prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temporary Directory Multipart State":{"name":"Temporary Directory Multipart State","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider Service":{"name":"AWS Credentials Provider Service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Region":{"name":"Custom Region","displayName":"Custom Region","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"c71c50c0-28a9-3b4a-a6b8-cd4d01759454","instanceIdentifier":"de1784ea-0ba4-3237-44c1-0d19dc6b0077","name":"LogMessage","comments":"","position":{"x":696.0,"y":1560.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"cfc71504-49b7-3355-b231-ec62a1f6ae5d","instanceIdentifier":"18dd9d34-b1ab-3de2-b1bc-2186aa8d96e8","name":"LogMessage","comments":"","position":{"x":-32.0,"y":904.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Log Message":null,"Log Level":"info","Log Prefix":null},"propertyDescriptors":{"Log Message":{"name":"Log Message","displayName":"Log Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"93f6ec94-17a0-3207-9256-e74a6e8d8b9a","instanceIdentifier":"ef187d5d-da63-314f-f08a-eec3e85e4ed3","name":"","source":{"id":"539b17e9-e014-3bd9-8f63-d1ecca3feb9f","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"Log Error","comments":"","instanceIdentifier":"1153f33c-917b-3302-9b78-76518cde3573"},"destination":{"id":"3158beb0-a92a-39b0-b298-9b25af22fed4","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"PutS3Object","comments":"","instanceIdentifier":"aaef4393-2c65-335f-d95d-bc915a36e535"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"40195cca-a4a6-3219-9fdc-91480b922957","instanceIdentifier":"35daf82c-e078-3196-a218-c51368311449","name":"","source":{"id":"78159e25-c97c-3c56-9557-675daff72164","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"fe2f79ed-30d2-3859-0432-ce24b1202d6e"},"destination":{"id":"c71c50c0-28a9-3b4a-a6b8-cd4d01759454","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"LogMessage","comments":"","instanceIdentifier":"de1784ea-0ba4-3237-44c1-0d19dc6b0077"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"7dbde220-ec9d-3289-a8c5-540b9d7f7322","instanceIdentifier":"5cd90699-036e-324f-03ac-ee3956662481","name":"","source":{"id":"de413be2-7254-33d8-8bac-5c01323dd3a2","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"PutS3Object","comments":"","instanceIdentifier":"366d1a36-2ba5-3946-dc5f-b76db09d44f0"},"destination":{"id":"ec3b234c-fd6c-3a25-8879-78e0e9c1f2d7","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"LogMessage","comments":"","instanceIdentifier":"edc9d8ba-0823-3de2-1bbd-547d67d239e7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"5f2f472d-d5f1-3a75-bbf0-25c4069b72b6","instanceIdentifier":"3954bfb1-f241-3c90-d907-4a0a3f901ea6","name":"","source":{"id":"8b0bc69e-7f5d-3491-890f-72f05ec4ffc7","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"ReplaceText","comments":"","instanceIdentifier":"43b608b7-4b4d-3847-2be8-46007066a45e"},"destination":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"InvokeHTTP","comments":"","instanceIdentifier":"fa3858e9-4cfe-3047-bc93-d22052cdc974"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"cd15472c-97b5-3a3e-92db-1466a946d363","instanceIdentifier":"46e95e08-40fc-3eeb-8a10-a6ba5583293c","name":"","source":{"id":"c71c50c0-28a9-3b4a-a6b8-cd4d01759454","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"LogMessage","comments":"","instanceIdentifier":"de1784ea-0ba4-3237-44c1-0d19dc6b0077"},"destination":{"id":"aa0fafde-ffb1-3c28-a9da-42b5a8356c12","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"PutS3Object","comments":"","instanceIdentifier":"81a02dd7-1d03-327c-15c9-ae1b28bf9880"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"c3c8ee97-17d6-3fa5-8662-3a9997f0e3ec","instanceIdentifier":"884119b4-99a3-39fe-23a0-42f2b89f0193","name":"","source":{"id":"539b17e9-e014-3bd9-8f63-d1ecca3feb9f","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"Log Error","comments":"","instanceIdentifier":"1153f33c-917b-3302-9b78-76518cde3573"},"destination":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"InvokeHTTP","comments":"","instanceIdentifier":"fa3858e9-4cfe-3047-bc93-d22052cdc974"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":520.0,"y":824.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"d36250a1-e58e-3b4d-a21d-c02bf533ec9d","instanceIdentifier":"b1590821-0967-3353-cec5-3bb490b2e109","name":"","source":{"id":"c6ac792b-e465-31a6-9a8e-ad86fa5a46d4","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"SplitJson","comments":"","instanceIdentifier":"8112706a-6940-3727-92e2-7a0f69dc063a"},"destination":{"id":"162d32ef-e486-3557-b2b6-7c5a913c25e2","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"ExtractText","comments":"","instanceIdentifier":"e8ab0d74-a75f-3f8c-30d7-6a0b5be8c6b3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"5820faee-9463-3512-8b28-0dd815a6b338","instanceIdentifier":"6b856851-3a67-30c6-5cee-4014ddd9ae33","name":"","source":{"id":"78159e25-c97c-3c56-9557-675daff72164","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"fe2f79ed-30d2-3859-0432-ce24b1202d6e"},"destination":{"id":"eba2bfb8-d8de-3367-882a-a273fdffbe7b","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"RouteOnContent","comments":"","instanceIdentifier":"8d0d779e-5677-360a-f285-2cb915dc06c6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"acee3453-7007-327d-92f0-fcbcf99e90a9","instanceIdentifier":"75a0e4ea-0a96-3244-6c88-1a0346ad2a2d","name":"","source":{"id":"cfc71504-49b7-3355-b231-ec62a1f6ae5d","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"LogMessage","comments":"","instanceIdentifier":"18dd9d34-b1ab-3de2-b1bc-2186aa8d96e8"},"destination":{"id":"2c0cae9d-9ae7-3480-86da-fb93823008ba","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"PutS3Object","comments":"","instanceIdentifier":"e0d3109a-062f-340b-562b-31eb4f1d552c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"ec1c3bd1-740a-38de-b808-60b7cc66fc69","instanceIdentifier":"8e03215e-27ae-373b-caf4-226a65e6d923","name":"","source":{"id":"e5de1144-fa4a-393a-aa43-635149834bdb","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"LogMessage","comments":"","instanceIdentifier":"1dad9aa2-bbe0-30cf-b2a9-5a65a7471d6b"},"destination":{"id":"03805e0b-e472-3177-8760-45d9b905dcda","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"PutS3Object","comments":"","instanceIdentifier":"6ba9dbd1-ec9e-3e86-b11d-770a7b20db72"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"1af2a9db-274b-32ad-b52d-23d6eeea5f92","instanceIdentifier":"6c67a847-6044-3ef0-c9bf-85d74733a0ef","name":"","source":{"id":"eb9e5984-afb1-3923-bf73-b4ae5cff9d4d","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"LogMessage","comments":"","instanceIdentifier":"38a639e1-bebc-3931-77d9-e6777fbd1b8a"},"destination":{"id":"563c5421-6337-3d38-b2d3-2e328b152e24","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"PutS3Object","comments":"","instanceIdentifier":"96959ac3-042d-34db-02e9-791ec5a3e277"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"a1ea7a61-e632-3cb2-b324-e97e49eb064a","instanceIdentifier":"6fc3fdc4-e820-3834-8518-65caa2df70d2","name":"","source":{"id":"2c458789-6f1b-3f7b-86bd-1bb86eb5ef31","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"CryptographicHashContent","comments":"","instanceIdentifier":"931fd08f-a885-36dc-4b2e-52a7708708b7"},"destination":{"id":"de413be2-7254-33d8-8bac-5c01323dd3a2","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"PutS3Object","comments":"","instanceIdentifier":"366d1a36-2ba5-3946-dc5f-b76db09d44f0"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"3de9e98a-babf-3323-afd4-9e681bea4988","instanceIdentifier":"3a7b15b5-3092-3ed6-3ddc-ce552b1eb8db","name":"","source":{"id":"de413be2-7254-33d8-8bac-5c01323dd3a2","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"PutS3Object","comments":"","instanceIdentifier":"366d1a36-2ba5-3946-dc5f-b76db09d44f0"},"destination":{"id":"eb9e5984-afb1-3923-bf73-b4ae5cff9d4d","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"LogMessage","comments":"","instanceIdentifier":"38a639e1-bebc-3931-77d9-e6777fbd1b8a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"bd42f9c2-455e-39b0-921a-fcdbf8d89870","instanceIdentifier":"12f76d46-d613-3181-c003-68c59c2bab70","name":"","source":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"InvokeHTTP","comments":"","instanceIdentifier":"fa3858e9-4cfe-3047-bc93-d22052cdc974"},"destination":{"id":"539b17e9-e014-3bd9-8f63-d1ecca3feb9f","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"Log Error","comments":"","instanceIdentifier":"1153f33c-917b-3302-9b78-76518cde3573"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"4557ff80-38b6-38c5-b460-2bc09712aef4","instanceIdentifier":"f493cf1c-408a-3e52-8a4f-e90b6d62ecdf","name":"","source":{"id":"162d32ef-e486-3557-b2b6-7c5a913c25e2","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"ExtractText","comments":"","instanceIdentifier":"e8ab0d74-a75f-3f8c-30d7-6a0b5be8c6b3"},"destination":{"id":"8b0bc69e-7f5d-3491-890f-72f05ec4ffc7","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"ReplaceText","comments":"","instanceIdentifier":"43b608b7-4b4d-3847-2be8-46007066a45e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"b1dadc44-67d5-3ce0-aa25-276488fefdf6","instanceIdentifier":"aa5191ef-6a4f-399f-266a-56c332de69c4","name":"","source":{"id":"5dff2767-af86-30ea-baf5-e135280f5ea4","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"LogMessage","comments":"","instanceIdentifier":"e700ebe1-f558-395c-0a78-907e1d56f3d2"},"destination":{"id":"b5fb09dc-6677-3e67-bade-0016d12bf2a7","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"PutS3Object","comments":"","instanceIdentifier":"db751728-4eba-3874-e75d-f89b9a5909f2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"f15c09cd-fee9-3bdb-bae2-66ef68174990","instanceIdentifier":"3b21514c-bd6a-317f-527d-a0bfcf93fb1a","name":"","source":{"id":"e08f9a23-53e6-3a8a-96bd-4e7fa4fee18a","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"ReplaceText","comments":"","instanceIdentifier":"816b6510-8998-33b1-6614-79025a17c41c"},"destination":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"InvokeHTTP","comments":"","instanceIdentifier":"fa3858e9-4cfe-3047-bc93-d22052cdc974"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"5a7bd069-554e-35b6-a2c4-582068296b38","instanceIdentifier":"439d32bf-2033-361c-ef08-a5c1e7ecbcbf","name":"","source":{"id":"eba2bfb8-d8de-3367-882a-a273fdffbe7b","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"RouteOnContent","comments":"","instanceIdentifier":"8d0d779e-5677-360a-f285-2cb915dc06c6"},"destination":{"id":"2c458789-6f1b-3f7b-86bd-1bb86eb5ef31","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"CryptographicHashContent","comments":"","instanceIdentifier":"931fd08f-a885-36dc-4b2e-52a7708708b7"},"labelIndex":0,"zIndex":2,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"d286952f-19b9-3b7e-aab3-7b05736bd900","instanceIdentifier":"ec482ba7-5ee5-361f-5eca-6295fef2290f","name":"","source":{"id":"e08f9a23-53e6-3a8a-96bd-4e7fa4fee18a","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"ReplaceText","comments":"","instanceIdentifier":"816b6510-8998-33b1-6614-79025a17c41c"},"destination":{"id":"5dff2767-af86-30ea-baf5-e135280f5ea4","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"LogMessage","comments":"","instanceIdentifier":"e700ebe1-f558-395c-0a78-907e1d56f3d2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"b428bcc7-9e94-3582-a54f-196bdc9762ed","instanceIdentifier":"8d00edb1-d37a-3d3f-2a52-e032e9cffed5","name":"","source":{"id":"cfc71504-49b7-3355-b231-ec62a1f6ae5d","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"LogMessage","comments":"","instanceIdentifier":"18dd9d34-b1ab-3de2-b1bc-2186aa8d96e8"},"destination":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"InvokeHTTP","comments":"","instanceIdentifier":"fa3858e9-4cfe-3047-bc93-d22052cdc974"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":512.0,"y":1088.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"6ecb2b09-f4b8-3d1e-a61b-aff23300ab04","instanceIdentifier":"7d4d940f-c799-32ea-8a9f-0f85f806882e","name":"","source":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"InvokeHTTP","comments":"","instanceIdentifier":"fa3858e9-4cfe-3047-bc93-d22052cdc974"},"destination":{"id":"cfc71504-49b7-3355-b231-ec62a1f6ae5d","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"LogMessage","comments":"","instanceIdentifier":"18dd9d34-b1ab-3de2-b1bc-2186aa8d96e8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"b13b98df-10ff-3573-ae5a-5a4657f6c450","instanceIdentifier":"8c0b959e-1012-320b-9623-843f40f53246","name":"","source":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"InvokeHTTP","comments":"","instanceIdentifier":"fa3858e9-4cfe-3047-bc93-d22052cdc974"},"destination":{"id":"78159e25-c97c-3c56-9557-675daff72164","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"fe2f79ed-30d2-3859-0432-ce24b1202d6e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"ab0e32f1-2a89-39e8-80ec-078123b6f5fc","instanceIdentifier":"6d8600d3-07f5-32d5-b4fe-b1fbae668f48","name":"","source":{"id":"e5de1144-fa4a-393a-aa43-635149834bdb","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"LogMessage","comments":"","instanceIdentifier":"1dad9aa2-bbe0-30cf-b2a9-5a65a7471d6b"},"destination":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"InvokeHTTP","comments":"","instanceIdentifier":"fa3858e9-4cfe-3047-bc93-d22052cdc974"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":512.0,"y":1376.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"47c63e29-8507-3f80-8a70-edb6d42590e0","instanceIdentifier":"6f246adf-a2fb-3735-1432-dabbfe345425","name":"","source":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"InvokeHTTP","comments":"","instanceIdentifier":"fa3858e9-4cfe-3047-bc93-d22052cdc974"},"destination":{"id":"020ff304-882e-35e2-a92a-259c8c1043d3","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"LogMessage","comments":"","instanceIdentifier":"508e729c-8c6e-3d39-c725-9db8e90bc30b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"68f9f669-52c1-3ffb-be96-ee1278305a1f","instanceIdentifier":"6797b59b-0ebf-3f63-9c80-009205be2ec7","name":"","source":{"id":"eba2bfb8-d8de-3367-882a-a273fdffbe7b","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"RouteOnContent","comments":"","instanceIdentifier":"8d0d779e-5677-360a-f285-2cb915dc06c6"},"destination":{"id":"e08f9a23-53e6-3a8a-96bd-4e7fa4fee18a","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"ReplaceText","comments":"","instanceIdentifier":"816b6510-8998-33b1-6614-79025a17c41c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"d97675db-f316-3cfd-bce8-8a9e6514711f","instanceIdentifier":"4d0dea71-1d8d-324e-5691-07e4b9b05dc8","name":"","source":{"id":"a04d36b4-6a24-326f-913f-96570aed5566","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"InvokeHTTP","comments":"","instanceIdentifier":"fa3858e9-4cfe-3047-bc93-d22052cdc974"},"destination":{"id":"e5de1144-fa4a-393a-aa43-635149834bdb","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"LogMessage","comments":"","instanceIdentifier":"1dad9aa2-bbe0-30cf-b2a9-5a65a7471d6b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"},{"identifier":"08dded04-becc-3634-87fa-d756a1f54f45","instanceIdentifier":"aae3e361-666c-39a0-02be-2a003f942864","name":"","source":{"id":"476710f2-2347-38a9-ae5b-938f86df7a9e","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"GenerateFlowFile","comments":"","instanceIdentifier":"b9761ae8-2f73-3d14-ba55-f8ca3456ac73"},"destination":{"id":"c6ac792b-e465-31a6-9a8e-ad86fa5a46d4","type":"PROCESSOR","groupId":"f3a4491e-9ee6-318b-b931-de9e3c22a445","name":"SplitJson","comments":"","instanceIdentifier":"8112706a-6940-3727-92e2-7a0f69dc063a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"e97e22e3-3426-3ec0-b158-237f1ae90a69","instanceIdentifier":"f53fefae-3db4-3414-a9b3-48e5570fbdfd","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.8.0"},"properties":{"Assume Role STS Region":"us-west-2","Assume Role Proxy Configuration Service":null,"OAuth2 Access Token Provider":null,"Assume Role ARN":null,"Assume Role Session Time":"3600","Assume Role Session Name":null,"Use Default Credentials":"false","Assume Role External ID":null,"Assume Role STS Endpoint Override":null,"Profile Name":null,"Credentials File":"/opt/nifi/nifi-current/minio_sites/s3.properties","Use Anonymous Credentials":"false","Assume Role SSL Context Service":null},"propertyDescriptors":{"Assume Role STS Region":{"name":"Assume Role STS Region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Proxy Configuration Service":{"name":"Assume Role Proxy Configuration Service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Access Key ID":{"name":"Access Key ID","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"OAuth2 Access Token Provider":{"name":"OAuth2 Access Token Provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Session Time":{"name":"Assume Role Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Default Credentials":{"name":"Use Default Credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role External ID":{"name":"Assume Role External ID","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role STS Endpoint Override":{"name":"Assume Role STS Endpoint Override","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Profile Name":{"name":"Profile Name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Use Anonymous Credentials":{"name":"Use Anonymous Credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Access Key":{"name":"Secret Access Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Assume Role SSL Context Service":{"name":"Assume Role SSL Context Service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.8.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"f3a4491e-9ee6-318b-b931-de9e3c22a445"}],"parameterContextName":"IGDB Parameter","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"IGDB Parameter":{"name":"IGDB Parameter","parameters":[{"name":"api_endpoints","description":"","sensitive":false,"provided":false,"value":"[\n    \"age_ratings\",\n    \"age_rating_categories\",\n    \"age_rating_content_descriptions_v2\",\n    \"age_rating_content_description_types\",\n    \"age_rating_organizations\",\n    \"artworks\",\n    \"alternative_names\",\n    \"artwork_types\",\n    \"characters\",\n    \"character_genders\",\n    \"character_mug_shots\",\n    \"character_species\",\n    \"collections\",\n    \"collection_memberships\",\n    \"collection_membership_types\",\n    \"collection_relations\",\n    \"collection_relation_types\",\n    \"collection_types\",\n    \"companies\",\n    \"company_logos\",\n    \"company_statuses\",\n    \"company_websites\",\n    \"covers\",\n    \"date_formats\",\n    \"events\",\n    \"event_logos\",\n    \"event_networks\",\n    \"external_games\",\n    \"external_game_sources\",\n    \"franchises\",\n    \"games\",\n    \"game_engines\",\n    \"game_engine_logos\",\n    \"game_localizations\",\n    \"game_modes\",\n    \"game_release_formats\",\n    \"game_statuses\",\n    \"game_time_to_beats\",\n    \"game_types\",\n    \"game_versions\",\n    \"game_version_features\",\n    \"game_version_feature_values\",\n    \"game_videos\",\n    \"genres\",\n    \"involved_companies\",\n    \"keywords\",\n    \"languages\",\n    \"language_supports\",\n    \"language_support_types\",\n    \"multiplayer_modes\",\n    \"network_types\",\n    \"platforms\",\n    \"platform_families\",\n    \"platform_logos\",\n    \"platform_types\",\n    \"platform_versions\",\n    \"platform_version_companies\",\n    \"platform_version_release_dates\",\n    \"platform_websites\",\n    \"player_perspectives\",\n    \"popularity_primitives\",\n    \"popularity_types\",\n    \"regions\",\n    \"release_dates\",\n    \"release_date_regions\",\n    \"release_date_statuses\",\n    \"screenshots\",\n    \"search\",\n    \"themes\",\n    \"websites\",\n    \"website_types\"\n]"},{"name":"last_id","description":"","sensitive":false,"provided":false,"value":"0"},{"name":"common_endpoint","description":"","sensitive":false,"provided":false,"value":"https://api.igdb.com/v4"}],"inheritedParameterContexts":[],"description":"","componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}